body {
    background-color: bisque;
}

.center {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.action {
    background-color: beige;
    width: 300px;
    height: 80px;
    text-align: center;
    border-radius: 15px;
    border: 5px solid brown;
}

#font1 {
    font-size: 16pt;
}

#mult-price {
    font-size: 13pt;
}

#auto-price {
    font-size: 13pt;
}

#bonus-price {
    font-size: 13pt;
}
