.btn { 
        &--click {  /* Bouton principal de click */
            background-color: $btn-color;
            border-radius: 50%;
            width: 8vw;
            height: 8vw;
            border: none;
            transition: all 0.05s;

            &:active{
                transform: scale(0.9);
            }

           & i {
                color: white; 
            }
        }

       
 }

