main {
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: #DABB8D;
    font-family: sans-serif;
}

h1{
    color: $color-one;
    margin-top: 10vh;
}
.click__all{
    position: relative;
}

.counter {
    &__grp {
        display: flex;
        justify-content: center;
        margin: 5vh 0;
        i {
            padding-left: 1vw;
            color: $color-three;
        }
    }
    &__texte {
        font-size: 3rem;
        font-weight: 600;
        color: white;
    }
}

.center {
    display: flex;
    justify-content: space-between;
    margin: auto;
}